* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  display: flex;
  background-image: url("/images//bg/bg1.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  background-repeat: no-repeat;
}

h1{
    position: absolute;
    top: 30px;
    left: 166px;
    font-size: 4.0rem;
    cursor: pointer;
}

.department h2{
    position: absolute;
    top: 27px;
    left: 217px;
    font-size: 3.2rem;
    cursor: pointer;
    color: whitesmoke;
    /* display: grid; */
}

.department{
  border: 2px solid gray;
  position: absolute;
  top: 130px;
  left: 486px;
  font-size: 2em;
  padding: 80px 180px;
  border-radius: 10px;
  /* padding-bottom: 10px; */

}
.department ul li{
  padding: 10px 69px;
  border: 2px solid black;
  border-radius: 27px;
  list-style: none;
  cursor: pointer;

}
.department ul li a{
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 2.1rem;
  color: white;
}
.department li{
  padding-bottom: 20px;
}

@media screen and (max-width: 1169px){
  h1{
    position: absolute;
    top: 30px;
    left: 166px;
    font-size: 4.0rem;
    cursor: pointer;
    display: grid;
    float: left;
    }
    .department{
      border: 2px solid gray;
  position: absolute;
  top: 130px;
  left: 486px;
  font-size: 2em;
  padding: 80px 180px;
  border-radius: 10px;
  display: grid;
    }
}
@media screen and (max-width: 1169px)and (min-width: 1px){
  body{
    background-image: url("/images//bg/bg1.jpg");
  }
}