* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    min-height: 100vh;
    background-color: rgba(226, 226, 191, 0.5);
    display: flex;
    /* font-family: 'Lobster', cursive; */
  }
  body{
    min-height: 100vh;
    width:100% ;
    background-image:url('/images/bg/bg1.jpg') ;
    /* background-color: rgb(26, 95, 95); */
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
}

  h1{
      position: absolute;
      top: 30px;
      left: 166px;
      font-size: 3.5em;
      cursor: pointer;


  }

  .department h2{
      position: absolute;
      top: 27px;
      left: 217px;
      font-size: 1.7em;
      cursor: pointer;
  }

  .department{
    border: 2px solid gray;
    position: absolute;
    top: 130px;
    left: 486px;
    font-size: 2em;
    padding: 80px 180px;
    border-radius: 10px;
    /* padding-bottom: 10px; */

  }
  .department ul li{
    padding: 10px 69px;
    border: 2px solid black;
    border-radius: 27px;
    list-style: none;
    cursor: pointer;

  }
  .department ul li a{
    padding-bottom: 10px;
    text-decoration: none;
   font-size: 1.2em;
   color: whitesmoke;
  }
  .department li{
    padding-bottom: 20px;
<<<<<<< HEAD:welcome/faculties/faculties.css
  }
=======
  }

  .container{
    position: absolute;
    top: 30px;
    right: 58px;
    border: 2px solid green;
    padding: 11px 31px;
    border-radius: 25px;
    background-color: green;
    cursor: pointer;
   
  }

.container a{
  color: white;
  font-size: 1.4em;
  text-decoration: none;
}

.container:hover{
  background-color: gray;
}

.container a:hover{
  color: black;

}
>>>>>>> 2a0f7f79cb05bcb1fcf1aff5c725d1dd48af8864:frontend/faculties/faculties.css
