* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
.logo {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.logo img {
  width: 45%;
  border-radius: 70px;
  border: 2px solid #cdc2ff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}

.nav-list {
  width: 50%;
  display: flex;
  align-items: center;

}

.nav-list li {
  list-style: none;
  padding: 19px 39px;
}
.nav-list li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-list li a:hover{
  color: #9a9797;
}

.rightnav {
  width: 50%;
  text-align: right;
  padding: 0px 50px;
}
.btn{
  padding: 2px 3px;
}

#search {
  border: 2px solid grey;
  border-radius: 9px;
  padding: 3px 10px;
  font-size: 1rem;
}

.background {
  background: rgba(0, 0, 0, 0.7) url('/images/bg/bg3.jpg');
  background-size: cover;
  background-blend-mode: darken;
}
.section{
  max-width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.section h1{
  font-size: 70px;
  padding: 50px 0 30px 0;
}
.section h4{
  font-size:30px;
}

.links {
  height: 500px;
  opacity: .9;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.links p{
  width: 200px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
}
.hyperlink {
  background: none;
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.hyperlink:hover{
  color: #9a9797;
  cursor: pointer;
}