* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  background-color: rgba(226, 226, 191, 0.5);
  display: flex;
}

a,
a:hover {
  text-decoration: none;
}
.searchBox {
  position: absolute;
  top: 100px;
  left: 800px;
  display: flex;
}
.searchText {
  width: 0;
  border-radius: 5rem;
  border: none;
  outline: none;
  transition: all 0.5s linear;
}
.searchText:focus {
  outline: none;
}
.searchBtn {
  width: 5rem;
  height: 5rem;
  background-color: #855b48;
  color: #fff;
  position: absolute;
  right: 1rem;
  display: flex;
  /* place-items: center;
     */
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.searchBox:hover > .searchText {
  width: 25rem;
  padding: 1.8rem;
  box-shadow: 0 2rem -1.5rem rgba(0, 0, 0, 0.5);
}
.searchBox:hover > .searchBtn {
  background: #fff;
  color: royalblue;
}
