* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* navbar */
.logo {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.logo img {
    width: 45%;
    border-radius: 70px;
    border: 2px solid #cdc2ff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list {
    width: 50%;
    display: flex;
    align-items: center;

}

.nav-list li {
    list-style: none;
    padding: 19px 39px;
}
.nav-list li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-list li a:hover{
    color: #9a9797;
}

.rightnav {
    width: 50%;
    text-align: right;
    padding: 0px 50px;
}
.btn{
    padding: 2px 3px;
}

#search {
    border: 2px solid grey;
    border-radius: 9px;
    padding: 3px 10px;
    font-size: 1rem;
}

.background {
    background: rgba(0, 0, 0, 0.7) url('/images/bg/bg3.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

/* section */

.firstsection {
    height: 100vh;
}

.boxmain {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: auto;
    height: 75%;
    color: white;
}

.firsthalf {
    width: 80%;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.firsthalf h1{
   font-size: 50px;
}
.firsthalf p{
   font-size: 25px;
}

.secondhalf {
    width: 30%;
}

.secondhalf img {
    width: 200px;
    border: 3px solid #d8d9eab8;
    border-radius: 99px;
    opacity: .9;
    display: block;
    margin: auto;
}
.text-big{
    font-size: 45px;  
}
.text-small{
     font-size: 15px;
     line-height: 25px;
     font-weight: 600;
 }
.text-ultra-small{
     font-size: 15px;
     line-height: 20px;
 }
.links{
    opacity: .9;
    padding: 20px 0px;
}

.hyperlink {
    padding: 10px 20px;
    border: 2px solid white;
    background: none;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
}

.hyperlink:hover {
    color: rgba(49, 48, 48, 0.839);
    background-color: white;
    cursor: pointer;
}
#about{
    margin: 50px 0;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.secondsection{
    display: flex;
    padding: 40px 10px;
    max-width: 70%;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.thumbnail{
    width: 40%;
    padding: 0px 30px;
}
.thumbnail img {
    width: 200px;
    display: block;
    margin: auto;
    border-radius: 24px;
}
.left{
    flex-direction: row-reverse;
}
footer{
    height: 300px;
    color: white;
} 
.foot{
    max-width: 70%;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot-container{
    width: 250px;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.foot-container img{
    width: 150px;
}
.center{
    text-align: center;
}
.footer-list li{
    list-style: none;
    padding: 10px 0;
}
.footer-list li a{
    text-decoration: none;
    color: white;  
}
.footer-list li a:hover{
    color: #9a9797;
}