*{
    padding: 0;
    margin: 0;
}
/* for navbar */
.navbar {
	background-color: rgb(54, 3, 3);
	border-radius: 10px;
	background-image:url('/images/bg/bg1.jpg') ;
	background-position: center;
    background-size: cover;
}

.navbar ul {
	overflow: auto;
}

.navbar li {
	float: left;
	list-style: none;
	margin: 13px 20px;
}

.navbar li a {
	text-decoration: none;
	color: white;
    font-size: 1.3rem;
}

.navbar li a:hover {
	color: rgb(169, 224, 117);
}

.search {
	float: right;
	color: white;
	padding: 12px 75px;
}

.navbar input {
	border: 2px solid black;
	border-radius: 14px;
	padding: 5px 17px;
	width: 150px;
}


body{
    min-height: 100vh;
    width:100% ;
    background-image:url('/images/bg/bg1.jpg') ;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
	background-repeat: no-repeat;
}

.container h1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 200px;
}
a.button {
    display: flex;
    justify-content: center;
    padding: 1em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 1.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
    transition: all 0.2s;
    width: 15%;
}
#container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px));
}

#next{
    position: relative;
    /* top: 40vh;
    left: 85vh;
    overflow: auto;
    float: right; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 200px;
}

#next a:hover{
    cursor: pointer;
    background-color:darkorchid;
    border:darkorchid ;
}